body {
  font-family: Calibri;
  font-size: 30px;
}

@viewport {
  width: device-width ;
  zoom: 1.0;
}

#content {
  font-family: Calibri;
  float:left;
  font-size: 24px;
  margin-top: -20px;
  margin-left: 20px;
  text-align: left;
  width: 1000px;
}

#menu_2 {
 float:left;
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
  width: 300px;
}

#menu {
 float:right;
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
  width: 300px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#left {
  float: left;
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}
 
 #menu_2 .title {
  font-family: Calibri;
  font-size: 45px
  }


@media screen and (min-width:319px) and (max-width: 640px) {
  #content {
  font-family: Calibri;
  float:left;
  font-size: 15px;
  margin-top: -140px;
  margin-left: 20px;
  text-align: left;
  width: 200px;
}

img {
    max-width: 85%;
    height: auto;
    width: auto;   
    text-align: center;
     margin-top: 20px;
}

  #menu {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
  width: 260px;
  font-size: 14px;
  font-family: "Myriad Pro", "Calibri Neue", Calibri;
  }
}

@media screen and (min-width:640px) {
  #menu {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  width: 300px;
  font-size: 30px;
  font-family: "Myriad Pro", "Calibri Neue", Calibri;
  }

  #content {
  font-family: Calibri;
  float:left;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  width: 900px;
  }
}


/*#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Myriad Pro", "Calibri Neue", Calibri;
}*/



/*#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}
*/
/*#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3 {
  font-family: "Myriad Pro", "Calibri Neue", Calibri;
  margin: 0;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #aaa;
}

#content p, #content ul {
  color: #333;
  line-height: 18px;
}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content p.notop {
  margin-top: 0;
}

#content .thanks {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #eee;
  margin-bottom: 4em;
  font-size: smaller;
  color: #777;
}

#content .thanks a {
  color: #777;
}

#content li {
  margin-bottom: 0.7em;
}

.post + .post {
  margin-top: 50px;
}*/